.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 30px 0 60px 0;
  border-bottom: 1px dotted #cecece;
}

.pages button {
  background: linear-gradient(to top, #d3d3d3, #f3f3f3);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
  color: #000;
  height: 40px;
  padding: 10px 15px;
  margin: 0 3px;
  cursor: pointer;
}

.pages button svg {
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.pages button:hover {
  filter: brightness(105%);
}

.pages button.active {
  background: linear-gradient(to top, #00a7cb, #447efb, #447efb);
  border: 1px solid #447efb;
  color: #ffffff;
  cursor: default;
  font-weight: bold;
}

.pages button.active:hover {
  filter: brightness(105%);
}
