.image-list-container {
  border-top: 1px solid #f2f2f2;
}

.image-list {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.image-list .image-item {
  height: 200px;
  margin: 10px;
}

.image-list .image-item img {
  max-height: 100%;
}
